/* Header 1, Serif, 40px
Slogan, Neuton, 24px
Header 3, Serif bold, 20px
Body, sans-erif, 16px */

/* PRIMARY
white #fff

/* SECONDARY
Green #81b741
BLue #093c60
Cream #ececec

/* GENERAL-------------------------------------------------------*/
* {
  box-sizing: border-box;
}
h1 {
  font-family:  Serif, Arial, Helvetica;
  font-size: 3.5rem;
  font-weight: bold;
}
.slogan {
  font-family: Neuton;
  font-size: 1.8em;
  font-style: italic;
  font-weight: lighter;
  color: #81b741;
}
h3 {
  font-family: Serif, Arial, Helvetica;
  font-size: 1.3rem;
  font-weight: bold;
  color: #093c60;
}
p {
  font-family: sans-serif, Arial, Helvetica;
  font-size: 1rem;
  font-weight: normal;
}
html,body {
    margin:0;
    padding:0;
}
body {
  background-color:#fff;
}
/* hidden h2 to please the validator */
.hidden{
  display: none;
  visibility: hidden;
  padding: 0;
  margin: 0;
}
/* GRID AREAS----------------------------------------------------------*/
.main-head {
  grid-area: header;
}
.content {
  grid-area: main;
}
.main-nav {
  grid-area: nav;
}
.side {
  grid-area: sidebar;
}
.main-footer {
  grid-area: footer;
}
.text{
  grid-area: text;
}
.more{
  grid-area: more;
}
.dog-title{
  grid-area: title;
}
.aside {
  grid-area: aside;
}
/* GRIDS -------------------------------------------------------------*/
body{
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1.5fr 4.5fr 2.5fr 1.5fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    " . main  aside ."
    "footer footer footer footer";
}
body.alt{
  display: grid;
  grid-gap: 0;
  grid-template-columns: .85fr 2fr 2fr .85fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    " . main main ."
    "footer footer footer footer";
}
.main{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns:  1fr 1fr 1fr ;
  grid-template-rows: auto;
  grid-template-areas:
  " text text text  "
  "   dog dog dog   " /* Somehow this works without having a GRID-AREA for dogs, leaving it empty doesn't work */
  "   dog dog dog   " /* Since the "more button" follows up the "dogs" i need to specify how many rows i want */
  "  .   more .     "
}
.doggos{
  display: grid;
  grid-gap: 3rem;
  grid-template-columns:  1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  " title title title title" /* Here having only one row of "dog" is fine since is not followed up by anything,*/
    "   dog dog dog dog   "  /* it will expand down as many dogs there are */

}
/* HEADER -----------------------------------------------------------*/
header{
  background-image: url(bk.jpg);
  background-color: #090909; /* Used if the image is unavailable */
  height: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:top;
}
.logo{
  position: absolute;
  margin:2rem 0 0 4rem;
  padding-bottom: -0.625rem;
  width: 25rem;
}
.slogan{
  position: absolute;
  margin:9.5rem 0 0 5rem;
  padding-top: -0.625rem;
}
.button{
  position: absolute;
  top: 5.5rem;
  right: 9rem;
  background-color: #81b741;
  font-family: sans-serif;
  border: none;
  border-radius: 2px;
  color: white;
  font-weight: bolder;
  padding: 0.3125rem  2.5rem;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size:  0.75rem;
  margin: 0.25rem 2px;
  cursor: pointer;
}
.button:hover{
  background: #093c60;
  color: white;
}
.cart{
  color: white;
  font-family: sans-serif;
  font-size: 0.875rem;
  position: absolute;
  top: 2.5rem;
  right: 9.5rem;
}
.fa-shopping-cart{
  font-size: 1.5rem;
}
/* NAV -----------------------------------------------------------*/
nav.main-nav {
  font-family: Neuton;
  font-weight: 1000;
  font-size: 1.2rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ececec;
  margin-bottom: 0;
  padding: 0 0 0 9.5rem;
}
nav.main-nav  li {
  float: left;
}
nav.main-nav  li a {
  display: block;
  color: #093c60;
  text-align: center;
  padding: .25rem 0rem .25rem 1rem;
  text-decoration: none;
  margin: 0;
}
nav.main-nav  li a:hover {
  color: #81b741;
}
nav.main-nav  ul {
  list-style-type: none;
}
a.navagation::before {
    content: "/";
    padding-right: 1rem;
    color: #093c60;
}
/* MAIN TEXT ------------------------------------------------- */
.main{
  overflow: visible;
}
.main-image{
  float: left;
  object-fit: cover;
  width: 100%;
  height: 20rem;
  padding-top: 2rem;
  margin-right: 3.5rem;
  margin-bottom: 1.5rem;
}
.main-title{
  font-family: Neuton;
  color: #093c60;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: .5rem;
}
.main-text{
  font-family: sans-serif;
  font-size: 1.1rem;
  font-weight: lighter;
  color: #5b5b5b;
  line-height: 180%;
  margin-top: 0;

}
.more{
  background-color: #ececec;
  font-family: sans-serif;
  border: none;
  border-radius: 2px;
  color: #093c60;
  font-weight: 1000;
  padding: .5rem 2.5rem;
  text-decoration: none;
  text-align: center;
  font-size: .8rem;
  cursor: pointer;
  display: block;
  margin: .5rem -.6rem;
  font-size: 1rem;
}
.more:hover{
background: #093c60;
color: white;
}
/* ASIDE ---------------------------------------------------- */
aside{
  margin-left: 3rem;
  margin-top: 1.3rem;
  position:relative;
}
.asideart img{
  object-fit: cover;
  width: 90%;
  height: 8rem;
}
.space{
  margin-top: 6rem;
}
.asidetitle{
  font-family: Neuton;
  color: #093c60;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 2rem;
  padding-top: 0px;
}
aside h3{
  font-family: Neuton;
  color: #093c60;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
aside p {
  width: 85%;
  font-size: .95rem;
  color: #5b5b5b;
  line-height: 150%;
  margin-top: 0;
}
aside a {
  font-family: sans-serif;
  font-weight: bold;
  width: 85%;
  font-size: .9rem;
  color: #43a9c3;
  line-height: 150%;
  text-decoration: none;
  position:absolute;
}
aside a:hover{
  color: #81b741;
  font-size: 1rem;

}
.blogmore{
  visibility: hidden;
  background-color: #ececec;
  font-family: sans-serif;
  border: none;
  border-radius: 2px;
  color: #093c60;
  font-weight: 1000;
  padding: .5rem 2.5rem;
  text-decoration: none;
  text-align: center;
  font-size: .8rem;
  cursor: pointer;
  display: block;
  margin: .5rem -.6rem;
  font-size: 1rem;
}
.blogmore:hover{
background: #093c60;
color: white;
}
/* DOGS ----------------------------------------------------- */
h4{
  font-family: Neuton;
  color: #093c60;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0;
  margin: .5rem 0 .9rem .9rem;
}
/* Got rid of dog numbers so now is scaleable, no matter the amount of dogs i have. */
.dog {
  box-sizing: border-box;
  border: #ececec 2px solid;
  padding-bottom: .5rem;
}
.dog p {
  color: #5b5b5b;
  font-family: sans-serif;
  font-size: .8rem;
  padding: 0;
  padding-bottom: .5rem;
  margin: .5rem .9rem;
}
.dog button {
  background-color: #81b741;
  font-family: sans-serif;
  border: none;
  border-radius: 2px;
  color: white;
  font-weight: 1000;
  padding: .5rem 4rem;
  text-decoration: none;
  text-align: center;
  font-size: .8rem;
  cursor: pointer;
  display: block;
  margin: .5rem auto;
}
.dog button:hover {
  background: #093c60;
  color: white;
}
.dog img {
  width: 12.5rem;
  height: 6.25rem;
  object-fit: cover;
  width: 100%;
}
.dog img:hover{
  cursor: pointer;
  opacity: 0.7;
}
.dog-title{
font-family: Neuton;
color: #093c60;
font-weight: 700;
font-size: 2rem;
padding: 1.5rem 0 0 0 ;
margin: 0;
}
.doggos{
  padding-top: 0;
}
/* BLOG ---------------------------------------------------------- */
.art{
  overflow: auto;
  /* text-align: justify; */
}
 h2.art-title{
  font-family: Neuton;
  color: #093c60;
  font-weight: 700;
  font-size: 2rem;
  padding: 1.5rem 0 0 0 ;
  margin: 0;
}
.art img{
  object-fit: cover;
  object-position: left;
  width: 17.5rem;
  height: 17.5rem;
  float: left;
  margin: 3rem 3rem 3rem 0;
}
.art h3{
  float: inherit;
  font-family: Neuton;
  color: #093c60;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0;
  margin: 2.5rem 0 1rem 4rem;
}
.art p{
  float: inherit;
  color: #5b5b5b;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: .9rem;
  padding: 0;
  padding-bottom: .5rem;
  margin: .5rem .9rem;
  line-height: 180%;
}
/* CHECKOUT FORM --------------------------------------------- */
h2.check-title{
 font-family: Neuton;
 color: #093c60;
 font-weight: 700;
 font-size: 2rem;
 padding: 1.5rem 0 2rem 0 ;
 margin: 0;
}
.my-form * {
box-sizing: border-box;
}
.my-form label {
padding: 1rem 0 1rem 0;
font-weight: bold;
font-family: Neuton;
color: #093c60;
font-size: 1.5rem;
font-weight: bold;
}
.top{
  border: none;
  padding: 0;
  margin: 0;
}
.top input{
display: block;
width: 60%;
border: 1px solid #ccc;
font-family: Neuton;
font-size: 0.9rem;
padding: 0.9rem;
margin: .5rem 0 2rem 0;
}
.adress{
  border: none;
  padding: 0;
  display: flex;
  justify-content: left;
  margin: 0;
}
.adress input,
.adress select,
.store{
  display: block;
  border: 1px solid #ccc;
  font-family: Neuton;
  font-size: 0.9rem;
  padding: 0.9rem;
}
.store{
  width: 18rem;
  margin: 1.5rem 0 2rem 0;
}
.city{
  width: 18rem;
  margin-right: 1.5rem;
  margin-top: .5rem;
}
.state{
  width: 8rem;
  margin-right: 1.5rem;
  margin-top: .45rem;
}
.zip{
  margin-top: .5rem;
}
.first{
  display: flex;
  justify-content:left;
  padding: 0;
  margin: 0;
}
h2.first {
  padding: 0 1rem 0 1rem;
  margin: 0;
  font-size: 1.2rem;
  font-family: sans-serif;
  font-weight: lighter;
}
.question{
  padding: 0;
  font-weight: bold;
  font-family: Neuton;
  color: #093c60;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}
.submit{
  background-color: #81b741;
  font-family: sans-serif;
  border: none;
  border-radius: 2px;
  color: white;
  font-weight: 1000;
  padding: .9rem 4.5rem;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  display: block;
}
/* FOOTER ---------------------------------------------------- */
footer{
  background: #093c60;
  text-align: center;
  color: white;
  margin-top: 4rem;
}
footer img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  padding-top: 2.5rem;
}
.foot-text{
  width: 30%;
  font-size: .8rem;
  margin-left: auto;
  margin-right: auto;
  padding: .5rem 0;
}
nav.footer-nav {
  font-size: 0.75rem;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding: 1.5rem 0;
}
nav.footer-nav li {
  font-family: sans-serif;
  float: left;
  padding-left: 1rem;
  font-weight: bolder;
  font-size: 1rem;
}
nav.footer-nav li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  margin: 0;
}
nav.footer-nav  li a:hover {
  color: #81b741;
}
nav.footer-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer::before {
    content: "/";
    padding: 0 1rem 0 0;
    color: white;
}
/* MEDIA QUERY ---------------------------------------------------------------- */
/* PHONES */
@media only screen
  and (min-width: 100px)
  and (max-width: 769px)
   {

  body {
    width: 100%;
    display: grid;
    grid-template-columns: .85fr 4fr .85fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header header header"
      "nav nav nav"
      " . main  ."
      "footer footer footer";
  }
  aside {
    display: none;
  }
  .main{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns:  1fr ;
    grid-template-rows: auto;
    grid-template-areas:
    " text   "
    " dog    "
    " dog    "
    " dog    "
    " dog    "
    " dog    "
    " dog    "
    " more   "
    " blogmore   "
  }
  .blogmore {
    visibility: visible;
  }
  nav.main-nav {
    display: flex;
    justify-content:center;
    padding: 0rem;
  }
  nav.main-nav  li a{
      padding: 0rem;
  }
  nav.main-nav  ul {
      padding: 0rem;
  }
  a.navagation::before{
    padding-left: 1rem;
  }
  header{
    display: flex;
    position: relative;
    justify-content:center;
    width: 100%;
  }
  .logo{
    margin: 0rem;
    width:20rem;
    top: 3rem;
  }
  .slogan{
    margin: 0rem;
    width:20rem;
    top: 10rem;
    text-align: center;
  }
  .button{
    margin: 0rem;
    top: 20rem;
    right: auto;
  }
  .cart{
    margin: 0rem;
    top: 18rem;
    right: auto;
  }
  .dog {
    overflow: hidden;
  }
  .dog img{
    height: 300px;
  }
}
/* TABLETS */
@media only screen
  and (min-width: 769px)
  and (max-width: 1025px){
    body {
      width: 100%;
      display: grid;
      grid-template-columns: .85fr 4fr 2fr .85fr;
      grid-template-rows: auto;
      grid-template-areas:
        "header header header header"
        "nav nav nav nav"
        " . main aside ."
        "footer footer footer footer";
    }
    .main{
      display: grid;
      grid-gap: 1rem;
      grid-template-columns:  1fr 1fr ;
      grid-template-rows: auto;
      grid-template-areas:
      " text text "
      " dog  dog  "
      " dog   dog "
      " dog   dog "
      " more  more"
    }
  }
